@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: ekkamai new;
    font-weight: bold;
    background-color: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: ekkamai new;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;

}

.box{
    margin-top: -12.2%;
}
.insidebox {

    width: 25%;
    height: 400px;
    background-color: green;
    color: green;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);

}
.social-call{
    height: 40px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #5CC4FF;
    border-color: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.social a{
    color: rgba(0,0,0,0.7);
    font-size: 0.9rem;

}
.contact{
    color: rgba(0,0,0,0.7);
    font-size: 0.9rem;
    margin-left: 5px;
}
.social a:hover{
    color: #5fffe7;
    transition: all ease 0.3s;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    width: 100%;

    height: 100px;
}
.logo{
    display: flex;
    padding-top: 8px;
}
.navigation input{
    background-color: #fff;
    margin-left: 10%;
    width: 500px;
    height: 30px;
    padding: 0px 20px 0px 10px;
    font-family: ekkamai new;
    font-size: 16px;
    border-radius: 10px;
}
.navigation a{
    margin-left: 10px;
}
.menu{
    display: flex;
    font-size: 20px;
    font-family: ekkamai new;
    padding-left: 35px;
}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    
}
.menu li a{
    color: #000000;
    transition: 0.5s;
    
}
.right-menu a{
    margin: 0px 5px 0px 0px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
    transition: 0.5s;
}
.menu a:hover,
.right-menu a:hover,
.search-cancel:hover{
    color: #5fffe7;
    transition: 0.5s;
}
@keyframes example{
    0%  {background-color: red;}
    20% {background-color: orange;}
    40%  {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    
}
.sale-lable{
    width: 38px;
    height: 17px;
    background-color: black;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.fa-shopping-cart{
    position: relative;
}
.fa-envelope{
    position: relative;
}
.num-cart-product{
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #5fffe7;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.search-bar{
    width: 100%;
    height: 300px;
    background-color: #ffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
    z-index: 101;
}
.search-input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 500px;
    height: 100px;
}
.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}
.search-cancel{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}

.search-bar-active{
    display: flex
}
@keyframes search {
    0%{
        bottom:-300px;
    }
    100%{
        bottom: 0px;
    }
}
.dropdown{
    position: relative;
    display: inline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}


.fix-nav{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 102;
}
.toggle{
    display: none;
}
@media(max-width:1010px){
    nav{
        position: relative;
    }
    .navigation{
        height: 80px;
    }
    .navigation input{
        margin-left: 0%;
    }
    .fix-nav{
        height: 80px;
    }
    .menu{
        position: absolute;
        top: 110px;
        left: 0px;
        background-color: #FFF;
        border-bottom: 4px solid #00947e;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 102;
        flex-direction: column;
        display: none;
    }
    .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(0,0,0,0.03);
    }
    .sale-lable{
        display: none;
    }
    .toggle{
        display: block;
    }
    .toggle::before{
        content:'\f0c9';
        font-family: 'FontAwesome';
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }
    .toggle.active:before{
        content:'\f00d';
    }
    .navigation.active .menu{
        display: block;
    }
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: auto;
    margin-left: auto;
    min-width: 1400px;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    width: 200px;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    width: 100%;
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    text-align: center;
    display: block;
}

.modal h1{
    margin-bottom: 10px;
}

.modal p{
    font-size: 14px;
    opacity: 0.7;
}


button{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    margin: 25px;
}




